* {
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 5%;
}

h3 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1px;
}

#fireworks {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    inset: 0;
    z-index: -1;
}

.user-list {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
}

.user-list__inner {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: solid 1px;
    border-radius: 5px;
    padding: 5%;
    font-size: 1.4rem;
}

.user-list__inner__actions {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.user-list__inner__buttons {
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    gap: 1em
}

.user-list__inner__actions>button {
    background-color: rgb(240, 58, 58);
}

.user-list__inner__controls {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: .5em;
}

.underline-number {
    text-decoration: underline;
    font-weight: 800;
}

button {
    font-size: 1rem;
    border: none;
    border-radius: 1px;
    transition: all ease-in-out .2s 0s;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    transform: translate(0, 0, 0);
    padding: 5px 10px;
}

button:hover {
    background-color: rgb(151, 184, 44);
    transform: translate(-10px, 10px, 5px);
}